<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Diogo Alves</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/profiledeveloper.css">
    <link rel="icon" href="/assets/images/developer_icon.png">
</head>

<body> <a href="/">
        <p class="voltar" title="Você está perdido?"><i class="fa fa-chevron-circle-left"></i> Voltar para página
            inicial <i class="fa fa-home"></i></p>
    </a>
    <div class="list-developers">
        <ul>
            <li><a href="/desenvolvedor/hector"><img title="Hector Silva" class="not-active"
                        src="/assets/images/hector_silva.jpg" /></a></li>
            <li><a href="/desenvolvedor/giovane"><img title="Giovane Santos 🦆" class="not-active"
                        src="/assets/images/giovane_foto.jpg" /></a></li>
            <li><a href="/desenvolvedor/arion"><img title="Arion Caio" class="not-active"
                        src="/assets/images/arion_foto.jpeg" /></a></li>
            <li><a href="/desenvolvedor/gustavo"><img title="Gustavo Fidencio" class="not-active"
                        src="/assets/images/gustavo.jpg" /></a></li>
            <li><a href="javascript:void(0)"><img title="Diogo Alves" class="img-active"
                        src="/assets/images/19c91d23-e3fd-4236-b32e-b57e5a6552ab.jpg" /></a></li>
            <li><a href="/desenvolvedor/norton"><img title="Norton Perantoni" class="not-active"
                        src="/assets/images/norton.jpeg" /></a></li>
        </ul>
    </div>
    <aside class="profile-card">
        <header> <a href="javascript:void(0)"> <img src="/assets/images/19c91d23-e3fd-4236-b32e-b57e5a6552ab.jpg" />
            </a>
            <h1>Diogo Henrique Alves Francisco</h1>
            <h2><b>Desenvolvedor Mobile</b></h2>
        </header>
        <div class="profile-bio">
            <p>Hoje sou apaixonado por aprender coisa novas e estar sempre atualizado. Atualmente trabalho como
                desenvolvedor mobile na: <a href="https://ghidro.com.br/"><img src="/assets/images/ghidro-logo.png"
                        width="50px" height="13px"></a></p>
            <p style="padding-top: 50px; float: right;"> <a href="https://github.com/diogoAlves88"><img width="15px"
                        height="15px" src="/assets/images/git.png" /></a>&nbsp; <a
                    href="https://www.linkedin.com/in/diogo-alves-054374184/"><img width="15px" height="15px"
                        src="/assets/images/in.png" /></a>&nbsp; <a
                    href="https://www.facebook.com/rocknrollallnightdiogo"><img width="15px" height="15px"
                        src="/assets/images/face.png" /></a>&nbsp; <a
                    href="https://www.instagram.com/diiogoalves17/"><img width="15px" height="15px"
                        src="/assets/images/insta.png" /></a> </p>
        </div>
    </aside>
</body>

</html>