body {
    background-color: rgb(243, 243, 243);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(39, 39, 39)), color-stop(0.72, rgb(39, 39, 39)), color-stop(0.86, rgb(39, 39, 39)));
}

.mini-footer {
    background: #131313;
    text-align: center;
    padding: 32px 0
}

.mini-footer p {
    text-align: justify;
    margin: 0;
    line-height: 26px;
    font-size: 15px;
    color: #999
}

.mini-footer p a {
    color: brown
}

.mini-footer p a:hover {
    color: rgb(200, 67, 67)
}

.widget-about img {
    display: block;
    margin-bottom: 30px
}

.widget-about p {
    font-weight: 400
}

.widget-about .contact-details {
    margin: 30px 0 0 0
}

.widget-about .contact-details li {
    margin-bottom: 10px
}

.widget-about .contact-details li:last-child {
    margin-bottom: 0
}

.widget-about .contact-details li span {
    padding-right: 12px
}

.widget-about .contact-details li a {
    color: rgb(187, 57, 57)
}

textarea.form-control {
    height: 300px !important;
}

@media(max-width: 620px) {
    .user {
        display: none;
    }
}

.list-profile {
    padding: 0;
    list-style: none;
}

.box {
    border-radius: 3px;
    background: #fff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
}

.box-body {
    padding: 10px;
    border-radius: 0 0 3px 3px;
}

.box,
.small-box {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

.eye {
    color: #ffffff;
    background: #212529;
    border: 0px;
    border-radius: 4px;
}

.senha-align {
    display: flex;
    justify-content: space-between;
}

.input-group-text {
    color: #ffffff !important;
    background-color: #212529 !important;
}

.input-group-text:hover {
    cursor: pointer !important;
    background: #5f6162 !important;
}

.icon_user {
    border-radius: 50%;
    box-shadow: 0px 0px 0px 6px rgb(228, 228, 228);
}

.example-edit-image {
    -webkit-box-shadow: 1px -1px 32px -2px rgba(180, 180, 180, 1);
    -moz-box-shadow: 1px -1px 32px -2px rgba(180, 180, 180, 1);
    box-shadow: 1px -1px 32px -2px rgb(80, 80, 80);
}

.modal-header {
    background-color: #212529;
    color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.close {
    color: #fff;
    text-decoration: none;
}

.close:hover {
    color: rgb(187, 187, 187);
    text-decoration: none;
}

.color-fa {
    color: white;
}

.error:focus {
    border-color: rgb(255, 187, 0) !important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgb(255, 187, 0) !important;
}

.error {
    border-color: rgb(255, 187, 0) !important;
}

.file-upload {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.video-upload {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: rgb(178, 31, 31);
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid rgb(130, 21, 21);
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: rgb(160, 26, 26);
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.fade-pass {
    animation: fadeIn ease 0.9s;
    -webkit-animation: fadeIn ease 0.9s;
    -moz-animation: fadeIn ease 0.9s;
    -o-animation: fadeIn ease 0.9s;
    -ms-animation: fadeIn ease 0.9s;
    transition-delay: 0.5s
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed rgb(178, 31, 31);
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: rgb(178, 31, 31);
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text h3 {
    font-size: 15px;
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: rgb(130, 21, 21);
    padding: 60px 0;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}

.input-video {
    cursor: pointer;
}

.add-video {
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(178, 31, 31);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px;
    border-bottom: 4px solid #b02818;
    border-radius: 4px;
}

::-webkit-file-upload-button {
    height: auto;
    padding: 10px !important;
    background-color: rgb(41, 41, 41) !important;
    color: white !important;
    border: 0 !important;
    border-radius: 4px !important;
}

::-webkit-file-upload-button:hover {
    cursor: pointer !important;
    background-color: rgb(70, 70, 70) !important;
}

.form-control {
    height: auto;
}

.width-video {
    width: 95% !important;
    display: inline-block !important;
}

.close-video {
    cursor: pointer;
}

.content-main {
    display: none;
}

.load {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100vh;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid rgb(44, 44, 44);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(44, 44, 44) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.header {
    background-color: rgb(14, 14, 14);
    height: 60px;
    width: 100%;
}

.title-event {
    margin: 0 auto;
    background-image: url(/assets/images/bg_login.jpg);
    background-size: cover;
    width: 94%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: auto;
}

.title-event>h1 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Baloo Bhaina 2', cursive;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 0;
    text-align: center;
}

#textarea {
    height: 150px;
}

.salvar {
    color: white;
    background-color: brown;
}

.salvar:hover {
    color: white;
    background-color: brown;
}

form {
    padding-top: 20px 0;
}

.logo {
    margin: 0 auto;
}

.logo>h1 {
    text-align: center;
    color: white;
}

small {
    font-size: 12px;
    margin-left: 2px;
    color: white;
}

.logout {
    border-radius: 5px;
    font-family: 'Be Vietnam', sans-serif;
    color: white;
    outline: none;
    border: none;
    background-color: brown;
    height: 30px;
    width: 70px;
    margin-top: 14px;
    margin-right: 20px;
}

.logout-button {
    float: right;
}

.initial {
    border-radius: 5px;
    font-family: 'Be Vietnam', sans-serif;
    color: white;
    outline: none;
    border: none;
    background-color: brown;
    height: 30px;
    width: 90px;
    margin-top: 14px;
    margin-left: 20px;
}

.page-initial {
    float: left;
}

.infra-prof {
    border-radius: 5px;
    font-family: 'Be Vietnam', sans-serif;
    color: white;
    outline: none;
    border: none;
    background-color: brown;
    height: 30px;
    width: 120px;
}

.inline {
    margin-right: 20px;
    display: inline-block;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}